{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/bootstrap-slider.css')}}">
    <link rel="stylesheet" href="{{asset('css/jquery.bxslider.css')}}">
{% endblock %}

{% block contenido %}
    <section id="secundario">
        <article  class="filtro-categorias container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row filtro">
                        <div class="col-md-4 filtro-titulo">
                            <div class="filtro-por-precio">
                                filtrar por precio
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input id="sliderPrecio" type="text" class="span2" value="" data-slider-min="50" data-slider-max="2000" data-slider-step="50" data-slider-value="2000" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
                        </div>
                        <div class="col-md-2">
                            <span id="valor-precio"></span>
                        </div>
                    </div>
                    <div class="row filtro">
                        <div class="col-md-4 filtro-titulo">
                            <div class=" filtro-por-color">
                                filtrar por color
                            </div>
                        </div>
                        <div class="col-md-8 filtro-colores text-center">
                            <span class="color color-carmesi fa fa-square"></span>
                            <span class="color color-amarillo fa fa-square"></span>
                            <span class="color color-cafe fa fa-square"></span>
                            <span class="color color-azul fa fa-square"></span>
                            <span class="color color-azul-marino fa fa-square"></span>
                            <span class="color color-verde fa fa-square"></span>
                            <span class="color color-fiusa fa fa-square"></span>
                            <span class="color color-gris fa fa-square"></span>
                            <span class="color color-blanco fa fa-square-o"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 filtro-ordenar" style="padding-right: 0px;">
                    <div class="filtro-ordenar-por-precio">
                        <div class="btn-group">
                            <button type="button" class="btn" style="background-color: #DF2E72; color: white; border-color: #DF2E72;">Mayor a menor precio</button>
                            <button type="button" class="btn dropdown-toggle" style="background-color: #DF2E72; color: white; border-color: #DF2E72;" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="mayor-a-menor" href="#">Mayor a menor precio</a></li>
                                <li><a class="menor-a-mayor" href="#">Menor a mayor precio</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="filtro-filtrar filtrar-color">
                        <span class="filtrar active">Filtrar</span>
                    </div>
                    <div class="filtro-ver-todos filtrar-color">
                        <span class="todos"> Ver todos</span>
                    </div>
                </div>
            </div>
        </article>
        <article id="lista-de-productos">
            <section class="productos">
                {% for producto in productos %}
                    {% if producto.isPromocional == true %}
                        {% set imagenproducto = "imagen_grande" %}
                    {% else %}
                        {% set imagenproducto = "imagen_chica" %}
                    {% endif %}
                    <article class="producto {{imagenproducto}}">
                        <div class="contenido">
                            <figure class="imagen-producto">
                                <img src="{{ producto.galerias[0].webPath | imagine_filter(imagenproducto)}}" alt="imagen de producto"/>
                                <figcaption>
                                    <span class="precio-producto">
                                        ${{producto.precio|number_format(2, '.', ',') }} MXN
                                    </span>
                                    <span class="inventario-producto">
                                        Countdown {{producto.existencia}}
                                    </span>
                                    <span class="agregar-carrito" data-id="{{producto.id}}">
                                        +<i class="fa fa-shopping-cart"></i>
                                    </span>
                                    <span class="ver-producto" data-url="{{path('get_producto',{'slug': producto.slug})}}">
                                        <i class="fa fa-plus-square"></i>
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    </article>
                {% endfor %}
            </section>
        </article>    
    </section>

    <div id="modalProducto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 modal-producto-galeria">
                            <ul class="bxslider">
                                {% for galeria in productos[0].galerias %}
                                <li><img src="{{ galeria.webPath | imagine_filter('imagen_carrusel')}}" /></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6 modal-producto-contenido">
                            <h3 class="modal-producto-titulo">##Nombre de producto##</h3>
                            <div class="modal-producto-clave-producto">ID: clave</div>
                            <div class="modal-producto-descripcion">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. 
                            </div>
                            <div class="modal-producto-precio">
                                ${{250|number_format(2, '.', ',') }} MXN
                            </div>
                            <span class="modal-producto-inventario">
                                Countdown:  {{'100'}}
                            </span>
                            <form class="form-inline modal-producto-cantidad">
                                <div class="form-group">
                                    <label for="cantidad">Cantidad: </label>
                                    <input type="text" class="form-control" id="cantidad" placeholder="" style="width:100px;">
                                    <button class="btn btn-default"><i class="fa fa-plus-square"></i></button>
                                    <button class="btn btn-default"><i class="fa fa-minus-square"></i></button>
                                </div>
                            </form>
                            <button class="modal-producto-agrergar-carrito">agregar a carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/template" id="article_producto_template">
					<!--article class="producto imagen_grande o imagen_chica"-->
                        <div class="contenido">
                            <figure class="imagen-producto">
                                <img src="{{ producto.galerias[0].webPath | imagine_filter(imagenproducto)}}" alt="imagen de producto"/>
                                <figcaption>
                                    <span class="precio-producto">
                                        ${{producto.precio|number_format(2, '.', ',') }} MXN
                                    </span>
                                    <span class="inventario-producto">
                                        Countdown {{producto.existencia}}
                                    </span>
                                    <span class="agregar-carrito" data-id="{{producto.id}}">
                                        +<i class="fa fa-shopping-cart"></i>
                                    </span>
                                    <span class="ver-producto" data-url="{{path('get_producto',{'slug': producto.slug})}}">
                                        <i class="fa fa-plus-square"></i>
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    <!--/article-->
</script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/bootstrap-slider.js')}}"></script> 
    <script src="{{asset('js/jquery.bxslider.min.js')}}"></script> 
    <script src="{{asset('bundles/frontend/js/app_countdown.js')}}"></script> 
    <script src="{{asset('bundles/frontend/js/app_productos.js')}}"></script>
    <script src="{{asset('js/jquery.masonry.min.js')}}"></script>
    <script type="text/javascript">
        $(function () {

            $(".item-categoria-{{categoria.id}}").find("a").addClass('active');

            $("#sliderPrecio").slider({'tooltip': 'show'}).on('slide', function (ev) {
                $("#valor-precio").text("$ " + formato_numero(ev.value, 2, ".", ","));
            }).on("slideStop", function (ev) {

            });

            $("#valor-precio").text("$ " + formato_numero(2000, 2, ".", ","));

            $(".slider.slider-horizontal").css({'width': '100%'});

            $(".filtro-ver-todos span").on("click", function () {
                var activos = $(".filtro-colores").find(".color.active");
                activos.each(function (indice, item) {
                    $(item).click();
                });
                $(".filtro-colores .color").addClass('inactive');
                $(".filtro-filtrar span").removeClass('active');
                $(this).addClass('active');
            });

            $(".filtro-filtrar span").on("click", function () {
                $(".filtro-colores .color").removeClass('inactive');
                $(".filtro-ver-todos span").removeClass('active');
                $(this).addClass('active');
            });

            $(".filtro-filtrar span").click();

            $(".color").on("click", function () {
                if ($(this).hasClass('inactive'))
                    return false;

                if ($(this).hasClass('fa-square')) {
                    $(this).addClass('fa-check-square active').removeClass('fa-square');
                } else if ($(this).hasClass('fa-square-o')) {
                    $(this).addClass('fa-check-square-o active').removeClass('fa-square-o');
                } else if ($(this).hasClass('fa-check-square')) {
                    $(this).addClass('fa-square').removeClass('fa-check-square active');
                } else if ($(this).hasClass('fa-check-square-o')) {
                    $(this).addClass('fa-square-o').removeClass('fa-check-square-o active');
                }
            });

            $("section.productos").removeClass("masonry").css({});

            $("section.productos").masonry({
                // options
                itemSelector: '.producto',
                columnWidth: 247
            });

            $(".ver-producto").on('click', function () {
                $("#modalProducto").modal('show');
            });
            
            
            window.api = {
                url: '{{path('api_get_categorias')}}',
                status: 'portada',
                modelo: {
                    id: 0
                },
            };
			
            $(".loader").fadeIn();
            window.routers.app = new Countdown.Routers.App();
             window.collections.productos = new Countdown.Collections.Productos();
             window.collections.productos.url=window.api.url;
             var xhr = window.collections.productos.fetch({data:{'categoria':'lo-mas-nuevo'}});
             xhr.done(function(){
             window.views.listCategoriasView = new Countdown.Views.ListCategoriasView({
             		collection: window.collections.categorias,
				 });
				 views.listCategoriasView.render();
				 $(".loader").fadeOut();
				 Backbone.history.start({
				 	root : '/',
				 	pushState:false
				 });
             });
        });
    </script>


{% endblock %}