<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Categoria</th>
            <th>Producto</th>
            <th>Slug</th>
            <th>Descripcion</th>
            <th>Marca</th>
            <th>UOM</th>
            <th>Existencia</th>
            <th>Reservado</th>
            <th>Precio</th>
            <th>Iva</th>
            <th>Activo</th>
            <th>Creado</th>
            <th>Actualizado</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.categoria.nombre }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.descripcion | raw }}</td>
                <td>{{ entity.marca }}</td>
                <td>{{ entity.unidadMedida }}</td>
                <td>{{ entity.existencia | number_format(2,".",",") }}</td>
                <td>{{ entity.reservado | number_format(2,".",",") }}</td>
                <td>$ {{ entity.precio | number_format(2,".",",") }}</td>
                <td>{{ entity.iva | number_format(2,".",",") }}</td>
                <td>{{ ((entity.isActive)?'Si':'No')  }}</td>                
                <td>{{ entity.fechaAlta | date('d-m-Y') }}</td>
                <td>{{ entity.fechaModificacion | date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>