<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Modelo</th>
            <th>Existencia</th>
            <th>Color</th>
            <th>Creado</th>
            <th>Actualizado</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.categoria.nombre }}</td>
                <td>{{ entity.inventario | number_format(2,".",",") }}</td>
                <td>{{ entity.stringColor }}</td>             
                <td>{{ entity.createdAt | date('d-m-Y') }}</td>
                <td>{{ entity.updatedAt | date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>