<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Importe</th>
            <th>Iva</th>
            <th>Creado</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.usuario.nombre }}</td>
                <td>{{ entity.importe }}</td>
                <td>{{ entity.iva }}</td>
                <td>{{ entity.fechaAlta | date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>